.box{
    width:200px; 
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px dashed #f69c55;
    background-color: aqua;
    transform: translate(30px,20px);
   
}
.box2{
    width:200px; 
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px dashed #f69c55;
    background-color: aqua;
    transform: scale(0.5,0.5)
   
}

.box3{
    width:200px; 
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px dashed #f69c55;
    background-color: aqua;
    transform: rotate(20deg);
  
   
}


