.icon-bar {
    width: 50%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    }

    .icon-bar a {
         color:white;
         font-size: 30px;
         padding: 15px;
         width: 20%;
         text-align: center;
         
    }

    .icon-bar a:hover {
        background-color: #000;
      }

    .active {
        background-color: #04AA6D;
      }